{% extends 'base.html' %}

{{ super() }}


{% block content %}

<style>
.js-fieldset {
  display: inline;
}
</style>


<div class="container" align="center" style="margin-top:6%;">
<div class="col-6">
<form action="/population" method="post" class="form-add" id="myForm">
    <p><label class="form-label">Имя: </label> <input type="text" class="form-control" name="first_name" value="" required /></p>
    <p><label class="form-label">Фамилия: </label> <input type="text" class="form-control"  name="last_name" value="" required /></p>
    <p><label class="form-label">Возраст: </label> <input type="text" class="form-control" name="age" value="" required /></p>
    <select class="form-select" id="select_type" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="Житель">Обычный житель</option>
    <option value="Доктор">Доктор</option>
    <option value="Солдат">Солдат</option>
</select>
    </br>


   <p><label class="form-label">Название больницы: </label> <input type="text" class="form-control" name="hospital" value="" required /></p>
    <p><label class="form-label">Специализация: </label> <input type="text" class="form-control" name="specialization" value="" required /></p>

    <p><label class="form-label">Военная часть: </label> <input type="text" class="form-control" name="military_unit" value="" required /></p>
    <p><label class="form-label">Звание: </label> <input type="text" class="form-control" name="rank" value="" required /></p>



    <p><input type="submit"  class="btn btn-primary" value="Добавить" required /></p>
</form>
</div>
</div>


{% endblock %}